.home {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/assets/bg-img.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__content {
  width: 60vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #fff;
  margin-left: 30px;
}

.home__heading {
  color: #fff;
  font-size: 2rem;
}

.home__btn {
  width: auto;
  font-size: 10vim;
  margin: 20px;
  padding: 10px;
  background-color: #2db551;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 2s;
}

.home__btn:hover {
  width: auto;
  font-size: 10vim;
  margin: 20px;
  padding: 10px;
  background-color: #2db551;
  color: #fff;
  border: none;
  cursor: pointer;
  transform: scale(1.3);
  transition: all 2s;
}

@media (max-width: 900px) {
  .home__heading {
    font-size: 1rem;
  }
}
